SNOWFLAKE_ORGANIZATION_NAME=ORGANIZATION_NAME
SNOWFLAKE_ACCOUNT_NAME=ACCOUNT_NAME
SNOWFLAKE_USER=TF_GITHUB_USER
SNOWFLAKE_ADMIN_ROLE=TF_ADMIN_ROLE
SNOWFLAKE_SECURITYADMIN_ROLE=TF_SECURITYADMIN_ROLE
AWS_ROLE_TO_ASSUME=arn:aws:iam::123456789012:role/gh-snowflake-trust-relation
